@import "tailwindcss";

@theme {
    --color-brand-primary: #8DE012
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 76px;
}

::selection {
    background-color: #8DE012;
    color: #000000;
}

::-moz-selection {
    background-color: #8DE012;
    color: #000000;
}